@media screen and (max-width:767px) {
    .icon{
        font-size: 30px;
        color: white;
        position: absolute;
        right: 40px;
        top: 20px;
    }
    .header{
        width: 100%;
        height: 100%;
        background-image: url(./Desktop_Backgrounds_1920x1200_6\ 3.png);
        background-size: cover;
        background-position: center;
    }
    .navbar{
        width: 100%;
        height: 100%;
        transition: all 2s;
        display: block;
        display: none;
        background-color: rgba(0, 0, 0, 0.62);
    }
    .logo{
        width: 100%;
        padding: 40px;
    }
    .menu{
        width: 100%;
        text-align: center;
    }
    .menu ul{
        width: 100%;
        display: block;
    }
    .active{
        border: none;
    }
    .section{
        width: 100%;
    }
    .center{
        width: 100%;
        height: 100%;
    }
    .center_about{
        width: 95%;
        height: 100%;

    }
    .center_title{
        width: 100%;
        height: 100%;
    }
    .center_bottom{
        width: 100%;
        display: block;
        padding: 0px;
    }
    .center_left{
        width: 100%;
        padding: 30px 0px;
    }
    .center_right{
        width: 100%;
        padding: 10px 0px;
    }
    .center_buttom{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .footer{
        width: 100%;
        height: 100%;
    }
    .footer_bottom{
        width: 100%;
        height: 100%;
        display: block;
    }
    .footer_end{
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .center_left{
        width: 100%;
        padding: 30px 20px;
    }
    .center_right{
        width: 100%;
        padding: 30px 20px;
    }
}
@media screen and (max-width:2000px) {
    .center_left{
        width: 100%;
        padding: 30px 20px;
    }
    .center_right{
        width: 100%;
        padding: 30px 20px;
    }
}
