*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    display: none;
}
.header{
    width: 100%;
    height: 822px;
    background-image: url(./Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    transition: all 2s;

}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo h2{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
.menu ul {
    display: flex;
}
.menu ul li{
    padding: 10px 20px;
    list-style: none;
}
.menu > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.active{
    border-bottom: 2px solid white;
}
.section{
    width: 450px;
    margin: auto;
    padding: 230px 0px;
    text-align: center;
}
.section h1{
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 700;
}
.section p{
    color: white;
    font-size: 24px;
    color: rgb(203, 203, 203);
}
.center{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_about{
    width: 80%;
    height: 90%;
}
.center_title{
    width: 100%;
    height: 40%;
    text-align: center;
    padding-top: 40px;
}
.center_title h1{
    font-size: 48px;
    font-family: sans-serif;
    letter-spacing: -2px;
}
.center_title p{
    font-size: 24px;
    font-family: calibri;
}
.center_bottom{
    width: 100%;
    height: 50%;
    display: flex;
}
.center_left{
    width: 50%;
    height: 100%;
    font-size: 16px;
    padding: 50px 100px 50px 200px;
}
.center_right{
    width: 50%;
    height: 100%;
    font-size: 16px;
    padding: 50px 300px 50px 40px;

}
.center_buttom{
    width: 100%;
    height: 10%;
    text-align: center;
}
.center_buttom button{
    width: 115px;
    height: 36px;
    border-radius: 18px;
    background-color: #55C2D8;
    color: white;
    border: 1px solid #55C2D8;
}
.footer{
    width: 100%;
    height: 800px;
    background-image: url(./IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
}
.footer > div{
    width: 100%;
    height: 100%;
    background-image: url(./Rectangle\ 5.png);
    text-align: center;
    padding-top: 150px;
}
.footer h1{
    font-size: 48px;
    color: white;
    font-family: sans-serif;
}
.footer .rounded{
    width: 145px;
    height: 143.47px;
    background-color: #39C2D7;
    border-radius: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: calibri;
    font-weight: 400;
}
.footer_bottom{
    width: 100%;
    height: 200px;
    background-color: #464547;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_end{
    width: 20%;
    height: 90%;
    display: flex;
    padding: 20px;
}
.footer_end img{
    width: 40px;
    height: 40px;
}
.footer_end h4{
    color: white;
    font-family: calibri;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 3px;
}
.footer_end p{
    color: white;
    font-family: calibri;
    font-size: 19px;
}
